app:
  port: 9900
  dir: "/tmp"
  format: "20060102_150405"
  password: ""
  database: "postgres-source"
  storage: "krohobor-backup"

storages:
  - name: "krohobor-backup"
    driver: "s3"
    options:
      catalog: "krohobor-backup"
      keyId: ""
      accessKey: ""
      region: "eu-north-1"

  - name: "local"
    driver: "file"
    options:
      catalog: "/tmp/krohobor-local"

databases:
  - name: "postgres-source"
    driver: "postgres"
    options:
      host: "localhost"
      port: 5430
      db: "postgres"
      user: "postgres"
      password: ""

  - name: "postgres-target"
    driver: "postgres"
    options:
      host: "localhost"
      port: 5431
      db: "postgres"
      user: "postgres"
      password: ""

  - name: "local"
    driver: "memory"
    options: []
